<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apptitive.beautytips">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ContentDisplay">
        <activity
            android:name=".DetailsActivity"
            android:parentActivityName=".ContentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ContentActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ContentActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActionBar" />
        <activity
            android:name=".AlarmActivity"
            android:theme="@android:style/Theme.Dialog" />

        <service
            android:name=".services.RingtoneService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.NotificationCancelReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="notification_cancelled" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.TimeTableWidgetProvider"
            android:icon="@drawable/widget_timetable"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_start" />

        <service
            android:name=".services.SyncService"
            android:exported="false"></service>
    </application>

</manifest>
